html, body {
  padding: 0;
  margin: 0;
}

body {
  background: rgba(247, 247, 247, 80);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-size: 1rem;
  color: #343131;
}

a {
  color: #343131;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.wrapper {
  max-width: 800px;
  padding: 20px;
  margin: 0 auto;
}

.nav-link {
  display: inline-block;
  font-size: 13px;
  float: left;
}

.nav-social  {
  display: inline-block;
  float: right;
}

.nav-social-icon {
  display: inline-block;
  width: 15px;
  height: 15px;
  text-decoration: none;
  background: gray;
  color: gray;
  border-radius: 7.5px;
}

.nav-social-icon:hover {
  text-decoration: none;
}

.header {
  text-align: center;
  padding: 10vh 0;
}

.header-pic {
  margin: 0 auto;
  border-radius: 100px;
  background: gray;
}

.article {
  margin-bottom: 10vh;
}

.article-title {
  margin-bottom: 10px;
}

.article-date {
  font-size: 12px;
}

.article-summary {
  font-weight: 100;
}

.footer {
  font-size: 12px;
  text-align: center;
  margin-bottom: 10vh;
}
